* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: #22aa00;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 10px 18px -10px rgba(0, 15, 0, 1);
    -moz-box-shadow: 0px 10px 18px -10px rgba(0, 15, 0, 1);
    box-shadow: 0px 10px 18px -10px rgba(0, 15, 0, 1);
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    -webkit-box-shadow: -1px 9px 5px -8px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: -1px 9px 5px -8px rgba(200, 200, 200, 0.75);
    box-shadow: -1px 9px 5px -8px rgba(200, 200, 200, 0.75);
    border-radius: 3px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #66ff66;
    border-radius: 3px;
    transition: 0.5s;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 12px;
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #66ff66;
    border: 0;
    outline: none;
    border-radius: 3px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login,
#forgot {
    left: 50px;
}

#register {
    left: 450px;
}

h4 {
    text-align: center;
    color: #777
}

#error {
    color: #f00;
    text-align: center
}

#success {
    color: #0f0;
    text-align: center
}

a {
    text-align: center;
    margin: 33%;
}

.btn-pass {
    text-decoration-style: none;
    text-decoration: none;
    font-size: 20px;
    color: #000;
}